@use   '../base/base';

.banner__list{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 30px;
    @media screen and (max-width:1023px) {
        grid-template-columns: 1fr;
    }
}
.advices__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 24px;
    
}
.questions__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    padding: 0 24px;
    margin: 30px;
    gap: 1em;
    justify-content: center;
    @media screen and (max-width:1100px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width:900px) {
        grid-template-columns: 1fr;
    }
}
.banner__image{
    width: 100%;
}
.banner__list{
    gap: 10px;
    align-items: center;
    padding: 0 24px;
}
.banner__text{
    font-size: 2vw;
    line-height: 200%;
    text-align: left;
    margin: 0 30px;
}
.tests__list{
    display: grid;
    gap: 20px;
    padding: 0 24px;
    margin: 30px;
    
}
.tests__block, .questions__block, .advices__block, .video__block{
    margin: auto 30px;
    border-bottom: solid;
    h3{
        margin-bottom: 3px;
    }
}
.questions__block, .advices__block, .video__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        display: block;
        height: fit-content;
    }
    .questions__image{
        display: block;
        
    }
    
}

.tests__item{
    background-color: #E7E6E2;
    margin: auto 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: 0.1fr 3fr 1fr;
    gap: 10px;
    @media screen and (max-width: 680px){
        padding: 10px;
        .tests__icon{
            width: 25px;
        }
     }
    @media screen and (max-width: 500px){
        grid-template-areas: 
        "i t t t"
        ". . b .";
        .tests__icon{
            grid-area: i;
        }
        .tests__text{
            grid-area: t;
            
        }
        .tests__button{
            grid-area: b;
        }
     }
   

    .tests__text{
        .tests__name{
            font-size: 24px;
            padding-bottom: 10px;
            width: fit-content;
            border-bottom: solid;
            margin: 10px 0;
        }
        .tests__description{
            font-size: 20px;
            color: #434242;
            max-width: 860px;
            margin: 10px 0;
            line-height: 135%;
        }
        @media screen and (max-width: 1024px){
            .tests__name{
                font-size: 20px;
            }
            .tests__description{
                font-size: 16px;
            }
         }
        @media screen and (max-width: 680px){
            .tests__name{
                font-size: 16px;
            }
            .tests__description{
                font-size: 14px;
            }
         }
        @media screen and (max-width: 500px){
            .tests__name{
                font-size: 14px;
            }
            .tests__description{
                font-size: 12px;
            }
        }


    }
    .tests__button{
        display: block;
        width: -moz-fit-content;
        margin: auto;
        padding: 20px 40px;
        font-weight: bold;
        border: solid;
        color: black;
        font-size: 20px;
        @media screen and (max-width: 1024px){
        padding: 10px 20px;
        font-size: 16px;
     }
    }
    
}

.questions_answer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    .answer__block{
        background-color: white;
        padding: 10px 20px;
        
    }
    @media screen and (max-width:1100px) {
        padding: 10px;
    }
    .answer__icon{
        display: block;
        margin-top:  40px ;
        margin-bottom: 40px;
        margin-left: 25px;
    }
}

.questions__item{
    background-color: #C1E988;
    padding: 30px;
    @media screen and (max-width:1100px) {
        padding: 10px;
    }
}
.questions__name, .answer__name{
    font-weight: bold;
    font-size: 24px;
    margin: 0 ;
    @media screen and (max-width:1100px) {
        font-size: 20px;
    }
    @media screen and (max-width: 700px) {
        font-size: 16px;
    }
}
.questions_description, .answer__description{
    font-size: 16px;
    @media screen and (max-width:1100px) {
        font-size: 14px;
    }
    @media screen and (max-width: 700px) {
        font-size: 12px;
    }
}

.questions__button{
    display: block;
    margin: auto;
    padding: 20px;
    border: solid 1px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: black;
    @media screen and (max-width: 1024px){
        padding: 10px;
        font-size: 14px;
     }

}

.advices__list{
    @media screen and (max-width: 1250px) {
        grid-template-columns: 500px 500px;
        justify-content: center;
        .advices__item{
            height: 500px;
        }
    }
    @media screen and (max-width: 1024px){
        grid-template-columns: 400px 400px;
        justify-content: center;
        .advices__item{
            height: 400px;
        }
        .advices__name{
            font-size: 24px;
        }
        .advices__icon{
            width: 50px;
        }
    
    }
    @media screen and (max-width: 850px){
        grid-template-columns: 300px 300px;
        .advices__item{
            height: 300px;
        }
        .advices__name{
            font-size: 16px;
        }
        .advices__icon{
            width: 40px;
        }
    }
    @media screen and (max-width:680px) {
        grid-template-columns: 300px;
        
    }
    padding: 0 24px;
    margin: 15px 30px;
    .advices__image{
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 100%;
    }
    .advices__item{
        background-color: #DFC4E9;
    }
    .advices__text{
        display: flex;
        justify-content: center;
        font-size: 32px;
        font-weight: bold;
        margin: 30px auto;
        .advices__name{
            margin-top: 15px;
            margin-bottom: 0;
        }
        @media screen and (max-width: 850px){
            margin: 15px auto;
         }
        
    }
    .advices__description{
        font-size: 24px;
        text-align: justify;
        line-height: 150%;
        max-width: 60%;
        margin: 30px auto;
        @media screen and (max-width:1250px) {
            max-width: 70%;
            margin: 10px auto;
        }
        @media screen and (max-width: 1024px){
            font-size: 16px;
         }
        @media screen and (max-width: 850px){
            font-size: 14px;
         }
    }

}
.advices__button{
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 20px 40px;
    font-weight: bold;
    border: solid;
    font-size: 20px;
    color: black;
    @media screen and (max-width: 1024px){
        padding: 10px 20px;
        font-size: 16px;
     }
}

.video__image{
    display: block;
    margin: 30px auto;
    @media screen and (max-width:1023px) {
        width: 60%;
    }
}

.catalog__banner{
    background-image: url(@/assets/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    width: 100%;
    margin: 0;
    height: 400px;
    @media screen and (max-width:1024px) {
        height: 300px;
    }
    @media  screen and (max-width:600px) {
        background-size: cover;
        background-attachment:local;
        height: 150px;

    }
}
.navigation{
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
        border-top: solid 1px;
        border-bottom: solid 1px;
    }
    &__link{
        display: block;
        margin: 15px auto;
        width: fit-content;
        font-size: 16px;
        letter-spacing: 3px;
        color: black;
    }
    &__item{
        padding: 30px auto;
    
    }
    

}

.catalog{
    &__list{
        display: grid;
        grid-template-columns: repeat( auto-fit , 300px);
        padding: 24px;
        margin: 30px auto;
        justify-content: center;
        gap: 1em;
    }
    &__item{
        max-width: 300px;
        font-family: 'Exo 2';
        p{
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 0px;
        }
    }
    &__title{
        display: flex;
        justify-content: space-between;
        border-bottom: solid;
        padding: 0 5px;
    }
    &__name{
        font-size: 16px;
        color: #792E94;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &__image{
        display: block;
        margin-top: 3px;
    }
    &__text{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        gap: 1em;
        min-height: 58px;
    }
    &__price{
        min-width: 50px;
        font-weight: bold;
    }
    .catalog__button{
        display: block;
        width: fit-content;
        margin-left: 55%;
        margin-top: 0px;
        padding: 10px 20px;
        font-weight: bold;
        background-color: #C44EED ;
        color: white;
        font-size: 16px;
        color: black;
    }

}

.images{
    &__list{
        display: grid;
        grid-template-areas: "a c c"
        "b c c";
        gap: 1em;
        padding: 0 24px;
        margin: 30px;
        justify-content: center;
    }
    &__item1{
        grid-area: a;
    }
    &__item2{
        grid-area: b;
    }
    &__item3{
        grid-area: c;
    }
    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 100%;
    }

}

.catalog__banner__title{
    margin-left: 50%;
    padding-top: 5%;
    color: white;
}
.catalog__bread{
    width: fit-content;
    margin: 5px auto;
    color: #434242;
    font-size: 11px;
}