// футер
.v-footer {
    background: $white !important;

    .footer{
      margin-top: 68px;
      border-top: 1px solid #000000;
    }
    
    .footer__title{
        margin-top: 19px;
        display: flex;
    }
    
    .header__menu1{
        margin-left: 171px;
        margin-top: -32px;
    }
    
    .menu__list{
      display: flex;
      align-items: center;
      max-height: 20px;
    }

    .menu__link1{
      color: #000000;
      text-transform: uppercase;
      font-size: 16px;
    }
    
    .menu__item:not(:last-child) {
        margin: 0px 61px 0px 0px;
    }

    .header__purchase1{
        margin-top: -40px;
        margin-left: 305px;
        display: flex;
        align-items: center;
    }
    
    .footer__librery{
        margin-top: 26px;
        display: flex;
        margin-bottom: 58px;
    }
    
    .librery__list{
        display: flex;
        margin-left: 260px;
    }
  
  .librery__item:not(:last-child){
      margin: 0px 47px 0px 0px;
  }
  
  .librery__link{
      font-size: 14px;
      text-transform: uppercase;
      color: #767676;
  }
  
    .v-card__text {
      @media only screen and (max-width: 599px) { 
        padding: 16px 0;
      }
  
      .v-btn {
        @media only screen and (max-width: 599px) { 
          margin: 0 7px !important;
        }
      }
    }

    .v-toolbar__content {
      @media only screen and (max-width: 950px) {
        padding: 0px;

      .header__purchase{
        display: none;
      }

      .header__logo{
        margin-left: -18px;
      }
      .header__menu1{
        padding-left: 20px;
      }
      }
    }

    .v-toolbar__content {
      @media only screen and (max-width: 770px) {
        padding: 0px;

      .header__purchase1{
        position: absolute;
        margin-left: 520px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .header__logo{
        margin-left: -10px;
      }
      .header__menu1{
        display: none;
      }
      }
    }

}