

.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-height: 59px;
  justify-content: center;
}

.header__logo{
  margin-left: -30px;
}

.header__menu{
  margin-left: 90px;
  margin-top: 10px;
}

.purchase__button:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.header__purchase{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 6px;
  margin-left: 164px;
}

.menu__list{
  display: flex;
  align-items: center;
  max-height: 20px;
  justify-content: center;
}

.menu__item:not(:last-child) {
  margin: 0px 61px 0px 0px;
}

.menu__link{
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
}

header {
    .v-toolbar__title {
      font-weight: 600;
      text-transform: uppercase;
    }
  
    .v-toolbar__content {
      @media only screen and (max-width: 599px) {
        padding: 0;
      }
    }

    .v-toolbar__content {
      @media only screen and (max-width: 1220px) {
        padding: 30px;

      .header__purchase{
        display: none;
      }
      }
    }

    .v-toolbar__content {
      @media only screen and (max-width: 950px) {
        padding: 0px;

      .header__purchase{
        display: none;
      }

      .header__logo{
        margin-left: 10px;
      }
      .header__menu{
        margin-left: 20px;
      }
      }
    }

    .v-toolbar__content {
      @media only screen and (max-width: 770px) {
        padding: 0px;

      .header__purchase{
        display: none;
      }

      .header__logo{
        margin-left: 10px;
      }
      .header__menu{
        margin-left: -10px;
      }
      }
    }

    .v-toolbar__content {
      @media only screen and (max-width: 600px) {
        padding: 0px;

      .header__purchase{
        display: none;
      }

      .header__logo{
        margin-left: 10px;
      }

      .hidden-sm-and-up{
        margin-left: 20px;
      }
      }
    }
  
  .mainHeader {
    .v-toolbar__items {
      .v-btn__content {
        a {
          color: $white;
        }
      }

      .menu__link{
        color: #000000;
        text-transform: uppercase;
        font-size: 16px;
      }
  
      .v-btn {
        @media only screen and (max-width: 599px) {
          padding: 0 0 0 10px;
        }
      }
    }
  }
}