<template>
    <li class="catalog__item">
        <v-img
        :src="product.photo"
        
      ></v-img>
                    <div class="catalog__title">
                        <p class="catalog__name">{{product.name}}</p>
                        <a href="" class="catalog__icon"><img src="img/heart__icon" alt="" class="catolog__image"></a>
                    </div>
                    <div class="catalog__text">
                        <p class="catalog__description">{{product.description}}</p>
                        <p class="catalog__price">{{product.price}}</p>
                    </div>
                    <a href="" class="catalog__button white--text">в корзину</a>
                </li>
</template>

<script>


export default {
    props: {
        product: {
            type: Object,
            
        }
    }


};
</script>

