<template>
    <li class="questions__item">
                    <p class="questions__name">ВОПРОС</p>
                    <p class="questions_description">{{question.ask}}</p>
                    <div class="questions_answer">
                        <div class="answer__block">
                            <p class="answer__name">ОТВЕТ</p>
                            <p class="answer__description">{{question.answer}}</p>
                        </div>
                        <a href="" class="answer__link"><img src="img/ask.png" alt="" class="answer__icon"></a>
                    </div>
                </li>
</template>

<script>


export default {
    props: {
        question: {
            type: Object,
            
        }
    }


};
</script>

