<template>
    <li class="tests__item">
        <img src="img/flower_icon.png" alt="" class="tests__icon">
            <div class="tests__text">
                <p class="tests__name">{{test.name}}</p>
                <p class="tests__description">{{test.description}}</p>
            </div>
            <a href="" class="tests__button">перейти</a>
        </li>
</template>

<script>


export default {
    props: {
        test: {
            type: Object,
            
        }
    }


};
</script>

