<template>
  <v-container>
      <v-footer>
        <v-toolbar flat>
          <div class="footer__container _container">
              <div class="header__logo logo">
                  <a class="logo__link">
                      <img src="@/assets/images/logo_drem.svg" alt="Logo" class="logo__image">
                  </a>
              </div>
              <v-spacer></v-spacer>
              <v-toolbar-items class="hidden-xs-only">
                  <nav class="header__menu1 menu">
                      <ul class="menu__list">
                          <li class="menu__item">
                              <a href="#home" class="menu__link1">
                                  Главная
                              </a>
                          </li>
                          <li class="menu__item">
                              <a href="#photoalbum" class="menu__link1">
                                  Новости
                              </a>
                          </li>
                          <li class="menu__item">
                              <a href="#signUp" class="menu__link1">
                                  Помощник
                              </a>
                          </li>
                          <li class="menu__item">
                              <a href="#" class="menu__link1">
                                  Контакты
                              </a>
                          </li>
                      </ul>
                  </nav>
                  <div class="header__purchase1 purchase"> <!--Buttons-->
                      <a class="purchase__button" href='#'>
                          <img class="purchase__img" src="@/assets/images/twitter.svg" alt="Search">
                      </a>
                      <a class="purchase__button" href='#'>
                          <img class="purchase__img" src="@/assets/images/google.svg" alt="Login">
                      </a>     
                  </div>
              </v-toolbar-items>
          </div>
        </v-toolbar>
      </v-footer>
  </v-container>
</template>

<script>

</script>
