<template>
    <v-container>
        <v-toolbar flat class="mainHeader">
            <div class="header__container _container">
                <div class="header__logo logo">
                    <a class="logo__link">
                        <img src="@/assets/images/logo_drem.svg" alt="Logo" class="logo__image">
                    </a>
                </div>
                <v-spacer></v-spacer>
                <v-toolbar-items class="hidden-xs-only">
                    <nav class="header__menu menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <router-link to="/" class="menu__link">
                                    Главная
                                </router-link>
                            </li>
                            <li class="menu__item">
                                <router-link to="/news" class="menu__link">
                                    Новости
                                </router-link>
                            </li>
                            <li class="menu__item">
                                <router-link to="/help" class="menu__link">
                                    Помощник
                                </router-link>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__purchase purchase"> <!--Buttons-->
                        <a class="purchase__button" href='#'>
                            <img class="purchase__img" src="@/assets/images/search1.svg" alt="Search">
                        </a>
                        <router-link to="/auth" class="purchase__button">
                            <img class="purchase__img" src="@/assets/images/login1.svg" alt="Login">
                        </router-link>      
                        <a class="purchase__button" href='#'>
                            <img class="purchase__img" src="@/assets/images/card1.svg" alt="Card">
                        </a>      
                    </div>
                </v-toolbar-items>
                <div class="hidden-sm-and-up">
                    <v-menu offset-y>
                    <template v-slot:activator="{ on }">
                        <v-app-bar-nav-icon v-on="on"></v-app-bar-nav-icon>
                    </template>
                    <v-list class="responsiveMenu">
                        <v-list-item>
                            <v-list-item-title><router-link to="/">Главная</router-link></v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title><router-link to="/news">Новости</router-link></v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title><router-link to="/help">Помощник</router-link></v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title><router-link to="/contact">Контакты</router-link></v-list-item-title>
                        </v-list-item>
                    </v-list>
                    </v-menu>
                </div>
            </div>
        </v-toolbar>
    </v-container>
</template>

<script>

</script>

