<template>
<div class="cards__column">
    <div class="news__card card">
        <div class="card__content">
            <img :src="news.photo" alt="" class="card__image">
            <h3 class="card__title">{{ news.title }}</h3>
            <p class="card__text">{{ news.description }}</p>
        </div>
        <div class="card__footer">
            <a href="#" class="card__button">перейти</a>
        </div>
    </div>
</div>
</template>

<script>


export default {
    props: {
        news: {
        type: Object,
        }
    }
};
</script>


<style scoped>

.cards__column {
    padding: 0 15px;
    flex: 0 1 50%;
    margin-bottom: 15px;
}

@media (max-width: 520px) {
    .cards__column {
        flex: 0 1 100%;
        padding: 0 10px;
    }

    .card__footer {
        margin: 0 auto;
    }    
}

.news__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(20px + 20 * ((100vw - 320px) / (1200 - 320)));
    height: 100%;
    background: #c1e988;
    gap: calc(10px + 5 * ((100vw - 320px) / (1200 - 320)));
}

.card__content {
    margin-bottom: calc(0px + 10 * ((100vw - 320px) / (1200 - 320)));
}

.card__footer {
    align-self: flex-end;
}

.card__image {
    margin: 0 auto;
    width: 100%;
}

.card__title {
    font-weight: 700;
    font-size: calc(12px + 12 * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(20px + 14 * ((100vw - 320px) / (1200 - 320)));
    margin: 10px 0;
    text-decoration: underline;
}

.card__text {
    font-size: calc(14px + 6 * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(16px + 12 * ((100vw - 320px) / (1200 - 320)));
    text-align: justify;
    margin-bottom: 0;
}

.card__button {
    display: block;
    margin-left: auto;
    width: max-content;
    padding: 1em 2em;
    border: black 1px solid;
    font-weight: 700;
    font-size: calc(10px + 10 * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(12px + 12 * ((100vw - 320px) / (1200 - 320)));
    color: black;
}
</style>