<template>
    <footer class="footer">
        <div class="footer__container _container">
            <div class="footer__info">
                <a href="#" class="footer__logo"><img src="img/icons/logo.svg" alt="dreams-logo" class="footer__img"></a>
                <p class="footer__text">© 2022 All rights reserved</p>
            </div>
            <div class="footer__links">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">Главная</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Новости</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Помощник</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Контакты</a></li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link footer__link--secondary">Доставка и оплата</a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--secondary">Вакансии</a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--secondary">Помощь</a></li>
                </ul>
            </div>
            <div class="footer__icons-wrapper">
                <a href="#"><i class="fa-brands fa-twitter" style="color: #000000;"></i></a>
                <a href="#"><i class="fa-brands fa-google" style="color: #000000;"></i></a>
                <a href="#"><i class="fa-brands fa-facebook" style="color: #000000;"></i></a>
            </div>
        </div>
    </footer>
</template>

<style scoped>

.footer {
    padding: calc(10px + 20 * ((100vw - 320px) / (1200 - 320)));
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: calc(10px + 10 * ((100vw - 320px) / (1200 - 320)));
    margin-right: 20px;
}

.footer__text {
    font-size: calc(10px + 4 * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(12px + 10 * ((100vw - 320px) / (1200 - 320)));
    color: #767676;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(10px + 30 * ((100vw - 320px) / (1200 - 320)));
    justify-content: center;
}

@media (max-width: 860px) {
    .footer__list {
        flex-direction: column;
        gap: 0;
    }
    .footer__links {
        flex-direction: row;
        justify-content: space-between;
        gap: calc(20px + 20 * ((100vw - 320px) / (800 - 320)));
    }
}

.footer__link {
    text-transform: uppercase;
    line-height: calc(12px + 14 * ((100vw - 320px) / (1200 - 320)));
    letter-spacing: calc(1px + 2 * ((100vw - 320px) / (1200 - 320)));
    font-size: calc(12px + 4 * ((100vw - 320px) / (1200 - 320)));
    color: black;
}

.footer__item .footer__link--secondary {
    font-size: calc(10px + 4 * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(10px + 12 * ((100vw - 320px) / (1200 - 320)));
    color: #767676;
    letter-spacing: 0;
}

.footer__icons-wrapper {
    margin-left: 15px;
    display: flex;
    gap: calc(10px + 10 * ((100vw - 320px) / (1200 - 320)));
}

@media (max-width: 630px) {
    .footer__container {
        flex-wrap: wrap;
        gap: calc(15px + 30 * ((100vw - 320px) / (1200 - 320)));
    }

    .footer__info {
        order: 3;
        justify-self: center;
        flex-basis: 100%;
        margin: 0;
    }

    .footer__links {
        justify-content: space-between;
        flex-basis: 50%;
        margin-left: auto;
    }

    .footer__item {
        text-align: center;
    }

    .footer__icons-wrapper {
        margin: 0;
        justify-content: center;
        margin: 0 auto;
    }
}
</style>