@charset "UTF-8";
/*Обнуление*/
*
 {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}


h1,
h2,
h3 {
  font-style: #333333;
  font-size: #333333;
}

body {
  line-height: 1;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-size: 16px;
  margin: 0 auto;
  width: 100%;
  background-color: #F5F5F5;
}

html{
  margin: 0 auto;
  max-width: 100%;
  min-width: 320px;
}
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }
  
  .gm-style img {
    max-width: none
  }
  
  @media only screen and (min-width:1025px) {
  
    a[href^=tel],
    a[href^=skype],
    a[href^=sms] {
      cursor: default;
      pointer-events: none;
    }
  }