$black: #000;
$white: #fff;

$base-font-sans-serif: 'Montserrat', sans-serif;
$base-font-serif: 'Exo 2', serif;

$primary-font: $base-font-sans-serif;

// Body
$base-text-color: $black  !default;
$base-background-color: $white !default;
$base-font-size: 14px !default;
$base-line-height: 1.8 !default;
$base-font-family: $primary-font !default;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $black;

// Headers
$h1-font-size: 24px !default;
$h2-font-size: 20px !default;
$h3-font-size: 21px !default;
$h4-font-size: 18px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: $primary-font !default;
$headings-color: inherit !default;

$animation-speed: 0.3s; 