.bar{
  position: absolute;
}


// hero block
.heroBlock {
    // position: relative;
    margin-top: -75px;
    overflow: hide;
  
    .v-window {
      @media only screen and (max-width: 599px) {
        height: 460px !important;

        .ads-banner__heading{
          font-size: 43px;
        }
        
        .ads-banner__description{
            margin-left: 115px;
            margin-top: -45px;
            font-family: 'Exo 2';
            font-size: 40px;
            margin-bottom: 10px;
            line-height: 40px;
        }
        
        .ads-banner__link{
            margin-left: 175px;
            box-sizing: border-box;
            padding: 12px 40px;
            border: 2px solid #FFFFFF;
            color: #FFFFFF;
        }
        
      }
    }

    .v-window {
      @media only screen and (max-width: 400px) {
        height: 460px !important;

        .ads-banner__heading{
          font-size: 32px;
          margin-left: 100px;
        }
        
        .ads-banner__description{
            margin-left: 100px;
            margin-top: -35px;
            font-family: 'Exo 2';
            font-size: 23px;
            width: 200px;
            margin-bottom: 15px;
            line-height: 30px;
        }
        
        .ads-banner__link{
            margin-left: 115px;
            box-sizing: border-box;
            padding: 12px 40px;
            border: 2px solid #FFFFFF;
            color: #FFFFFF;
        }
        
      }
    }

    .ads-banner__heading{
      margin-left: 115px;
      padding-top: 220px;
      font-family: 'Arial';
      font-size: 75px;
      color: #FFFFFF;
    }
    
    .ads-banner__description{
        margin-left: 115px;
        margin-top: -65px;
        font-family: 'Exo 2';
        font-size: 40px;
        width: 351px;
        color: #FFFFFF;
        line-height: 50px;
        margin-bottom: 30px;
    }
    
    .ads-banner__link{
        margin-left: 175px;
        box-sizing: border-box;
        padding: 12px 40px;
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
    }
  
    .v-image__image {
      &:before {
        content: '';
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
      }
    }
  
    .title {
      color: $white;
      position: relative;
      z-index: 2;
      font: 300 50px/1.6 $primary-font !important;
    }
  }
  
  // latest post block
  .latestPostBlock {
  
    .v-card__title {
      background: rgba(0,0,0,0.3);
    }
  }

.galleryBlock{
  .catalog{
    border-bottom: 1px solid #000000;
  }

  .v-text-field > .v-input__control > .v-input__slot:before {
    border-color: inherit;
    border-style: none;
    border-width: thin 0 0 0;
  }
  
  .catalog__menu{
    margin-top: 27px;
    padding-bottom: 10px;
  }
  
  .menu__item1:not(:last-child) {
    margin: 0px 200px 0px 0px;
  }
  
  .menu__link1{
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
  }

  .catalog_container{
    @media only screen and (max-width: 1180px) { 
      .menu__item1:not(:last-child) {
        margin: 0px 190px 0px 0px;
      }
    }

    @media only screen and (max-width: 1120px) { 
      .menu__item1:not(:last-child) {
        margin: 0px 100px 0px 0px;
      }
    }
    @media only screen and (max-width: 945px) { 
      .menu__item1:not(:last-child) {
        margin: 0px 70px 0px 0px;
      }
    }

    @media only screen and (max-width: 780px) { 
      .menu__item1:not(:last-child) {
        margin: 0px 40px 0px 0px;
      }
    }

    @media only screen and (max-width: 700px) { 
      .menu__item1:not(:last-child) {
        margin: 0px 30px 0px 0px;
      }
    }

    @media only screen and (max-width: 500px) { 
      .menu__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .menu__item1:not(:last-child) {
        margin: 0px 0px 0px 0px;
      }

      .catalog__menu{
        margin-top: -20px;
      }
    }
  }
}


.noverBlock{
  .novelties_container{
    margin-top: 80px;
    padding-bottom: 40px;
    background: #C1E988;
}

.novelties__header{
    display: flex;
    border-bottom: 2px solid #000000;
}

.header__title{
    font-size: 36px;
    font-weight: 700;
    color: #000000;
}

.header__go{
    margin-left: 920px;
}

.header__go2{
  margin-left: 840px;
}

.novelties__product{
    margin-top: 33px;
    display: flex;
}

.product-card:not(:last-child){
    margin: 0px 30px 0px 0px;
}

.product-card__title{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000000;
}

.title__biz{
    color: #792E94;
    font-family: 'Exo 2';
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}

.title__like{
    margin-left: 135px;
}

.title__like1{
    margin-left: 25px;
}

.title__like2{
    margin-left: 113px;
}

.title__like3{
    margin-left: 56px;
}

.product-card__price{
    display: flex;
}

.price__newprice{
    margin-left: 45px;
    font-weight: 400;
}

.price__newprice1{
    margin-left: 50px;
    font-weight: 400;
}

.price__newprice2{
    margin-left: 18px;
    font-weight: 400;
}

.price__newprice3{
    margin-left: 55px;
    font-weight: 400;
}

.product-card__btn_bt{
    margin-left: 155px;
    margin-top: 17px;
}

.product-card__btn{
    background: #C44EED;
    padding: 12px 20px;
    color: #FFFFFF;
    font-weight: bold;
}

@media only screen and (max-width: 1220px) {
  .novelties__product{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 150px;
  }

  .product-card{
    width: 300px;
  }

  .product-card__btn_bt{
    margin-left: 185px;
    margin-top: 17px;
  }

  .product-card:not(:last-child){
    margin: 0px 0px 60px 0px;
  }

  .header__go{
    margin-left: 870px;
  }

  .header__go2{
    margin-left: 780px;
  }

  .price__newprice{
    margin-left: 75px;
  }

  .price__newprice1{
    margin-left: 80px;
  }

  .price__newprice2{
    margin-left: 47px;
  }

  .price__newprice3{
    margin-left: 85px;
  }

  .title__like{
      margin-left: 165px;
  }

  .title__like1{
      margin-left: 55px;
  }

  .title__like2{
      margin-left: 140px;
  }

  .title__like3{
      margin-left: 84px;
  }
}

@media only screen and (max-width: 1180px) {
  .header__go{
    margin-left: 870px;
  }
  .header__go2{
    margin-left: 770px;
  }

}

@media only screen and (max-width: 1130px) {
  .header__go{
    margin-left: 675px;
  }
  .header__go2{
    margin-left: 575px;
  }

}

@media only screen and (max-width: 950px) {
  .header__go{
    margin-left: 535px;
  }
  .novelties__product{
    margin-left: 55px;
  }

  .header__go2{
    margin-left: 460px;
  }

}

@media only screen and (max-width: 790px) {
  .header__go{
    margin-left: 430px;
  }

  .header__go2{
    margin-left: 360px;
  }

  .novelties__product{
    margin-left: 35px;
  }
}

@media only screen and (max-width: 705px) {
  .header__go{
    margin-left: 300px;
  }
  .header__go2{
    margin-left: 220px;
  }

  .novelties__product{
    margin-left: 125px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 575px) {
  .header__go{
    margin-left: 200px;
  }

  .header__go2{
    margin-left: 120px;
  }
  .novelties__product{
    margin-left: 75px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 470px) {
  .header__go{
    margin-left: 75px;
  }
  .header__go2{
    margin-left: 0px;
  }
  .header__title{
    font-size: 32px;
  }
  .novelties__product{
    margin-left: -2px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

}

.albumBlock{
  .album_container{
    margin-top: 75px;
}


.album__images{
    width: 100%;
    height: 100%;
    margin-top: 41px; 
    background-image: url("/src/assets/images/album.jpg");
    background-color: #C4C4C4;
    width: 100%;
    height: 100%;
    min-width: 1440px;
    min-height: 577px;
    background-repeat: no-repeat;
    background-size: cover;
}

.album__images{
    text-align: center;
    padding-top: 453px;
}

.images__btn__btn{
    background: #B743E0;
    padding: 12px 30px;
    color: #FFFFFF;
    font-weight: 700;
}

.novelties__header{
  display: flex;
  border-bottom: 2px solid #000000;
}

.header__title{
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}

.header__go{
  margin-left: 640px;
}

.image_alb{
  margin-top: 170px;
}

@media only screen and (max-width: 1220px) {
  .header__go{
    margin-left: 580px;
  }
}
@media only screen and (max-width: 1130px) {
  .header__go{
    margin-left: 365px;
  }
  .image_alb{
    margin-top: 130px;
  }
}
@media only screen and (max-width: 960px) {
  .header__go{
    margin-left: 255px;
  }
  .image_alb{
    margin-top: 90px;
  }
}
@media only screen and (max-width: 670px) {
  .header__go{
    margin-left: 25px;
  }
  .image_alb{
    margin-top: 70px;
  }
}
@media only screen and (max-width: 540px) {
  .header__go{
    margin-left: 0px;
  }
  .image_alb{
    margin-top: 60px;
  }
}
@media only screen and (max-width: 460px) {
  .image_alb{
    margin-top: 40px;
  }

  .images__btn__btn{
    background: #B743E0;
    padding: 6px 20px;
    color: #FFFFFF;
    font-weight: 700;
}
}
}

.newsBlock{
  .news__wrapper{
    margin-top: 28px;
    display: flex;
  }

  .wrapper__texter{
      background: #DFC4E9;
      width: 534px;
  }

  .texter__title{
      display: flex;
      align-items: center;
      text-transform: uppercase;
      margin-top: 73px;
      justify-content: center;
  }

  .title__img{
    margin-top: -28px;
  }

  .title__text{
      font-size: 32px;
      font-family: 'Exo 2';
      font-weight: bold;
  }

  .texter__txt{
      text-align: center;
      margin-top: 44px;
  }

  .txt__text{
      font-family: 'Exo 2';
      font-size: 24px;
      padding: 80px auto;
      margin-left: 45px;
      width: 450px;
      line-height: 140.62%;
      margin-bottom: 60px;
  }

  .txt__btn{
      font-family: 'Exo 2';
      padding: 12px 20px;
      border: 2px solid #000000;
      color: #000000;
      font-weight: bold;
  }
  .novelties__header{
    display: flex;
    border-bottom: 2px solid #000000;
  }

  .header__title{
      font-size: 36px;
      font-weight: 700;
      color: #000000;
  }

  .header__go{
      margin-left: 920px;
  }


  @media only screen and (max-width: 1220px) {
    .header__go{
      margin-left: 870px;
    }
  }
  @media only screen and (max-width: 1180px) {
    .header__go{
      margin-left: 870px;
    }
    .wrapper__texter{
      width: 484px;
    }
    .title__text{
      font-size: 28px;
    }
    .txt__text{
      margin-left: 45px;
      width: 400px;
  }
  }
  @media only screen and (max-width: 1130px) {
    .header__go{
      margin-left: 675px;
    }
    .wrapper__texter{
      width: 290px;
    }
    .title__text{
      font-size: 20px;
      margin-left: 10px;
    }
    .txt__text{
      margin-left: 45px;
      width: 200px;
      font-size: 16px;
  }
  
  }

  @media only screen and (max-width: 950px) {
    .header__go{
      margin-left: 530px;
    }
    .wrapper__img{
      width: 500px;
    }
    .wrapper__texter{
      width: 300px;
    }
  }
  @media only screen and (max-width: 790px) {
    .header__go{
      margin-left: 430px;
    }
    .wrapper__img{
      width: 400px;
    }
    .txt__text{
      margin-top: -50px;
      margin-bottom: 18px;
    }
    @media only screen and (max-width: 705px) {
      .header__go{
        margin-left: 300px;
      }
      .news__wrapper{
        display: flex;
        flex-direction: column;
      }
      .wrapper__img{
        width: 600px;
        height: 500px;
      }
      .wrapper__texter{
        width: 552px;
        height: 200px;
      }
      .txt__text{
        margin-left: 135px;
        width: 300px;
        font-size: 12px;
        margin-bottom: 20px;
    }
      .texter__title{
        margin-top: 15px;
      }
    }
  }
  @media only screen and (max-width: 575px) {
    .header__go{
      margin-left: 200px;
    }
    .wrapper__texter{
      width: 336px;
      height: 200px;
    }
    .txt__text{
      margin-left: 18px;
      width: 300px;
      font-size: 12px;
      margin-bottom: 20px;
  }
    .texter__title{
      margin-top: 15px;
    }
  }
  @media only screen and (max-width: 470px) {
    .header__go{
      margin-left: 65px;
    }
    .wrapper__img{
      width: 600px;
      height: 300px;
    }
    .wrapper__texter{
      width: 296px;
      height: 220px;
    }
    .txt__text{
      margin-left: 50px;
      width: 200px;
      font-size: 10px;
      margin-bottom: 20px;
  }
  }
}