<template>
    <div class="page__container _container">
        <form class="page__form form" action="#" method="post">
            <div class="form__header">
                <h1 class="form__title">Регистрация</h1>
                <p class="form__text">Есть аккаунт? <a class="form__link" href="#">Войти</a></p>
            </div>
            <div class="form__body">
                <label class="form__label">Логин<input class="form__input" placeholder="ФИО" type="text" value=""></label>
                <label class="form__label">Почта<input class="form__input" placeholder="dreams@gmail.com" type="email" value=""></label>
                <label class="form__label">Пароль<input class="form__input" placeholder="Пароль" type="password" value=""></label>
                <label class="form__label">Подтверждение<input class="form__input" placeholder="Повторите пароль" type="password" value=""></label>
                <label class="form__label"><input class="form__checkbox" type="checkbox" name="agreement" value="1">
                    Соглашение об обработке персональных данных </label>
                <button type="submit" class="form__btn">
                    Создать
                </button>
            </div>
            <div class="form__footer">
                <p class="form__text">Or Sign Up via social media</p>
                <div class="form__socials">
                    <a href="#" class="form__link"><img src="img/icons/ggl.svg" alt="" class="form__icon"></a>
                    <a href="#" class="form__link"><img src="img/icons/facebook.svg" alt="" class="form__icon"></a>
                    <a href="#" class="form__link"><img src="img/icons/twitter.svg" alt="" class="form__icon"></a>
                </div>
            </div>
        </form>
    </div>
</template>

<script></script>

<style scoped>

.form__link {
    color: black;
    text-decoration: underline;
}
._container {
    max-width: 1200px;
    margin: 0 auto;
}

.page__form {
    margin: 30px auto;
}

.form {
    max-width: 600px;
    background: #C1E988;
    padding: calc(20px + 20 * ((100vw - 320px) / (1200 - 320)));
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / (1200 - 320)));
    gap: calc(10px + 10 * ((100vw - 320px) / (1200 - 320)));
    flex-wrap: wrap;
}

@media (max-width: 390px) {
    .form__header {
        justify-content: center;
    }

    .form__label:last-of-type {
        text-align: center;
    }
}

.form__title {
    font-weight: 900;
    font-size: calc(20px + 8 * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(24px + 12 * ((100vw - 320px) / (1200 - 320)));
}

.form__text {
    font-weight: 700;
    font-size: calc(14px + 4 * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(18px + 6 * ((100vw - 320px) / (1200 - 320)));
}

.form__body {
    display: flex;
    flex-direction: column;
    gap: calc(14px + 6 * ((100vw - 320px) / (1200 - 320)));
}

.form__input {
    background: #E7E6E2;
    border: 1px solid #000000;
    border-radius: 6px;
    padding-left: calc(15px + 15 * ((100vw - 320px) / (1200 - 320)));
    padding-right: calc(15px + 15 * ((100vw - 320px) / (1200 - 320)));
    padding-top: calc(10px + 2 * ((100vw - 320px) / (1200 - 320)));
    padding-bottom: calc(10px + 2 * ((100vw - 320px) / (1200 - 320)));
    width: 100%;
    margin-top: 5px;
}

.form__label {
    font-size: calc(12px + 4 * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(16px + 4 * ((100vw - 320px) / (1200 - 320)));
}


.form__checkbox {
    margin-right: calc(5px + 5 * ((100vw - 320px) / (1200 - 320)));
}

.form__btn {
    padding: 0.5em 2em;
    margin: 0 auto;
    background: #B743E0;
    border: 1px solid #FEFEFE;
    color: white;
    font-weight: bold;
    font-size: calc(16px + 8 * ((100vw - 320px) / (1200 - 320)));
}

@media (max-width: 370px) {

    .form__btn {
        max-width: 100%;
        margin: 0;
    }
}

.form__footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 16px;
}

.form__socials {
    display: flex;
    gap: 10px;
}
</style>