<template>
    <main class="main-page">
        <section class="main-page__section banner">
            <ul class="banner__list">
                <li class="banner__item">
                    <h2 class="banner__title">ПОМОЩНИК-</h2>
                    <p class="banner__text">сервис, который поможет пользователям составит правильный уход за своей кожей здесь вы найдете советы профессионалов и правила применения продуктов.</p>
                </li>
                <li class="banner__item">
                    <img src="img/banner_help.jpg" alt="" class="banner__image">
                </li>
            </ul>
        </section>
        <section class="main-page__section tests">
            <div class="tests__block">
                <h3 class="tests__title">тесты.</h3>
            </div>
            <ul class="tests__list">
                <TestItem v-for="test in tests" :key="test" :test="test"/>
            </ul>
        </section>
        <section class="main-page__section questions">
            <div class="questions__block">
                <h3 class="questions__title">вопросы.</h3>
                <button class="questions__link"><img src="img/title-link.png" alt="" class="questions__image"></button>
            </div>
            <ul class="questions__list">
                <QuestionsItem v-for="question in questions" :key="question" :question="question"/>
            </ul>
            <button  class="questions__button">ЗАДАТЬ ВОПРОС</button>
        </section>
        <section class="main-page__section advices">
            <div class="advices__block">
                <h3 class="advices__title">советы.</h3>
                <a href="" class="advices__link"><img src="img/title-link.png" alt="" class="questions__image"></a>
            </div>
            <ul class="advices__list">
                <li class="advices__item">
                    <img src="img/advice.jpg" alt="" class="advices__image">
                </li>
                <li class="advices__item ad">
                    <div class="advices__text">
                        <img src="img/flower_icon.png" alt="" class="advices__icon">
                        <p class="advices__name">УХОД ЗА КОЖЕЙ ЛЕТОМ.</p>
                    </div>
                    <p class="advices__description">Летом кожа по-особенному находится под влиянием солнца и необходимо ее защищать. подбор ухода в теплый период важный этап...</p>
                    <button  class="advices__button">перейти</button>
                </li>
            </ul>
        </section>
        <section class="main-page__section video">
            <div class="video__block">
                <h3 class="video__title">видео с применением.</h3>
                <a href="" class="video__link"><img src="img/title-link.png" alt="" class="questions__image"></a>
            </div>
            <img src="img/video.jpg" alt="" class="video__image">
        </section>
    </main>
</template>

<script>
import TestItem from "@/components/components_katesh/lists/TestItem.vue"
import QuestionsItem from "@/components/components_katesh/lists/QuestionsItem.vue"

export default {
  components:{
    TestItem,
    QuestionsItem

  },
  data:() => ({
     tests: [],
     questions: []

  }),

  mounted() {
      this.listTests()
      this.listQuestions()
  },
  methods:{
    
    listTests() {
        this.axios.get('/tests.json')
        .then(response => this.tests = response.data)
    },

    listQuestions() {
        this.axios.get('/questions.json')
        .then(response => this.questions = response.data)
    },



  }};



</script>