<template>
  <v-main>
    <TheHero />
    <TheMain />
    <TheNoveis />
    <TheAlbum />
    <TheSale />
    <TheNews />
  </v-main>
</template>

<script>
import TheHero from '@/components/components_katem/TheHero.vue';
import TheMain from '@/components/components_katem/TheMain.vue';
import TheNoveis from '@/components/components_katem/TheNoveis.vue';
import TheAlbum from '@/components/components_katem/TheAlbum.vue';
import TheSale from '@/components/components_katem/TheSale.vue';
import TheNews from '@/components/components_katem/TheNews.vue';
export default {
  components: {
    TheHero,
    TheMain,
    TheNoveis,
    TheAlbum,
    TheSale,
    TheNews
  },
  data(){
    return{
    }
  }
};
</script>