<template>
    <main class="page">
        <div class="page__container _container">
            <section class="page__section content">
                <div class="text-wrapper">
                    <h1 class="content__title">НОВОСТИ</h1>
                    <p class="content__text">ежедневные статьи от разных экспертов, поднимаем важные темы и рассказываем про новые средства.</p>
                </div>
            </section>
            <section class="page__section news">
                <div class="news__navigation navigation">
                    <form class="navigation__search-form">
                        <input type="text" class="search-field" placeholder="Поиск...">
                        <button type="submit" class="search-button">Поиск <i class="fa-solid fa-magnifying-glass" style="color: #FFF;"></i></button>
                    </form>
                    <div class="navigation__slider">
                        <a href="#"><i class="fa-solid fa-arrow-left fa-xl"></i></a>
                        <a href="#"><i class="fa-solid fa-arrow-right fa-xl"></i></a>
                    </div>
                </div>
                <div class="news__cards">
                    <NewsItem v-for="news in newss" :key="news" :news="news"/>
                </div>
            </section>
            <section class="page__section gallery">
                <div class="gallery__header">
                    <h2 class="gallery__title">
                        галерея 🌸
                    </h2>
                    <a href="#"><i class="fa-solid fa-arrow-right fa-xl"></i></a>
                </div>
                <div class="gallery__layout">
                    <div class="gallery__item gallery__item--featured"><img src="img/gallery1.jpg" alt="" class="gallery__photo"></div>
                    <div class="gallery__item"><img src="img/gallery2.jpg" alt="" class="gallery__photo"></div>
                    <div class="gallery__item"><img src="img/gallery3.jpg" alt="" class="gallery__photo"></div>
                    <div class="gallery__item"><img src="img/gallery2.jpg" alt="" class="gallery__photo"></div>
                    <div class="gallery__item"><img src="img/gallery3.jpg" alt="" class="gallery__photo"></div>
                    <div class="gallery__item"><img src="img/gallery2.jpg" alt="" class="gallery__photo"></div>
                    <div class="gallery__item"><img src="img/gallery3.jpg" alt="" class="gallery__photo"></div>
                </div>
            </section>
        </div>
    </main>
</template>

<script>

import NewsItem from "@/components/components_tamir/NewsItem.vue"

export default {
    components:{
        NewsItem,
    },
    data:() => ({
    newss: []
    }),

    mounted() {
    this.listNews()
    },
    methods:{
    listNews() {
    this.axios.get('/news.json')
    .then(response => this.newss = response.data)
    },
    }};

</script>

<style scoped>

i {
    color: black;
}

._container {
    max-width: 1200px;
    margin: 0 auto;
}
.page {
    margin-top: 20px;
    padding: 0 10px;
}

.content {
    display: flex;
    justify-content: center;
    gap: calc(10px + 20 * ((100vw - 320px) / (1200 - 320)));
    background: url('@/../public/img/content.jpg')  0 0/100% auto no-repeat fixed;
}

.content .text-wrapper {
    margin-top: calc(15px + 50 * ((100vw - 320px) / (1200 - 320)));
    max-width: 50%;
}

.content__title {
    font-size: calc(32px + 12 * ((100vw - 320px) / (1200 - 320)));
    color: #8e36ad;
    text-shadow: white 1px 1px ;
    line-height: calc(40px + 24 * ((100vw - 320px) / (1200 - 320)));
    font-weight: bold;
    text-align: center;
}

.content__text {
    font-weight: 400;
    font-size: calc(12px + 8 * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(12px + 16 * ((100vw - 320px) / (1200 - 320)));
    color: white;
    font-size: calc(12px + 8 * ((100vw - 320px) / (1200 - 320)));
    text-align: center;
}

.content__img {
    object-position: center;
    object-fit: cover;
    max-width: 80%;
}

.news {
    margin-top: calc(20px + 32 * ((100vw - 320px) / (1200 - 320)));
}

.search-field {
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid black;
}

.search-button {
    padding: 8px 16px;
    background-color: #8e36ad;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.navigation__search-form {
    display: flex;
    gap: 20px;
    align-items: center;
}

.news__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__slider {
    display: flex;
    gap: 20px;
}

.news__cards {
    margin: 65px -15px 100px -15px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 520px) {
    .news__cards {
        margin: 40px -10px 70px -10px;
    }

    .content__text {
        text-align: center;
    }

    .navigation__slider {
        display: none;
    }

    .navigation__search-form {
        width: 100%;
    }

    .search-button {
        display: none;
    }

    .search-field {
        width: 100%;
    }
}

@media (max-width: 1110px) { 
    .content {
        flex-direction: column;
        align-items: center;
    }
    .content__text {
        text-align: center;
    }
    .content__title {
        text-align: center;
    }

    .content__img {
        max-width: 100%;
    }
}

/* ----------------- gallery ----------------- */

.gallery {
    margin-bottom: 200px;
}

.gallery__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
}

.gallery__layout {
    max-width: 1120px;
    margin: 0 auto;
    margin-top: calc(24px + 36 * (100vw / 1200));
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));

}

.gallery__item--featured {
    grid-column: 1 / 4;
}

.gallery__photo {
    height: 100%;
    width: 100%;
}

</style>