


<template>
    <main class="main-page">
        <section class="main-page__section catalog__banner">
            <h2 class="catalog__banner__title">УХОД ДЛЯ ЛИЦА</h2>
        </section>
        <section class="main-page__section navigation">
            <nav class="navigation__block">
                <TheMain/>
            </nav>
        </section>
        <section class="main-page__section catalog">
            <p class="catalog__bread">ГЛАВНАЯ\КАТАЛОГ\УХОД\УХОД ДЛЯ ЛИЦА</p>
            <ul class="catalog__list">
                <ProductItem v-for="product in products" :key="product" :product="product"/>
            </ul>
        </section>
        <section class="main-page__section images">
            <ul class="images__list">
                <li class="images__item1"><img src="img/images1.jpg" alt="" class="images__image"></li>
                <li class="images__item2"><img src="img/images2.jpg" alt="" class="images__image"></li>
                <li class="images__item3"><img src="img/images3.jpg" alt="" class="images__image"></li>
            </ul>
        </section>
    </main>
</template>

<script>
import ProductItem from "@/components/components_katesh/lists/ProductItem.vue"
import TheMain from "@/components/components_katem/TheMain.vue"
export default {
  components:{
    ProductItem,
    TheMain

  },
  data:() => ({
     products: []
  }),

  mounted() {
      this.listProducts()
  },
  methods:{
    listProducts() {
      this.axios.get('/products.json')
      .then(response => this.products = response.data)
      },
  }};



</script>