@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

    .v-application a{
    text-decoration: none;
    color: black;}
    a:link{
        color: black;
    }
    a:visited{
        color: black;
    }
    ul{
        list-style: none;
    }


    h3{
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        @media screen and (max-width: 530px){
            font-size: 26px;
        }
    }


    $colors: (
        '$purple': #8E36AD,
        '$green':  #C1E988, 
        '$beg': #E7E6E2,
    );

    .banner__title, .catalog__banner__title{
        font-size: 5vw;
        font-weight: bold;
        color:#8E36AD;
        margin: 0 10px;
        font-family: 'Montserrat', sans-serif;
    }
    body, html, .v-application{
        margin: 0;
        padding: 0;
        font-family: 'Exo 2';
        color: black;
    }
    .main-page{
        max-width: 1300px;
        margin: auto;
    }
