<template>
  <div class="block latestPostBlock">
    <v-container>
      <template>
        <v-toolbar-items>
          <v-container>
            <v-toolbar
              flat
              width="350px"
            >
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Поиск по названию"
                single-line
              ></v-text-field>
            </v-toolbar>
            <v-btn class="btn-click" text @click="reloadComponentForce">Перегрузить</v-btn>
            <v-subheader class="label__title">Написаны: 02.10.2021</v-subheader>
            <v-checkbox
            class="label__check"
            v-model="hover"
            label="Искать"
            hide-details
            ></v-checkbox>
            <v-select
            clearable
            v-model="sort"
            :items="items"
            label="По умолчанию"
            ></v-select>
          </v-container>
        </v-toolbar-items>
      </template>
      <h2 class="text-center">Проекты студентов</h2>
      <v-row class>
        <ArticleItem 
         v-for ="(article, index) in filteredSearch " :key="index" :article="article"/> 
      </v-row> 
    </v-container>
  </div>
</template>


<script>
import ArticleItem from '@/components/articles/ArticleItem.vue';
export default {
  components: {
    ArticleItem,
  },
  data() {
    return {
      isShow: true,
      search: "",
      hover: "",
      datas: "02.10.2021",
      sort: "",
      items: ['01.09.2021', '02.09.2021', '03.09.2021', '02.10.2021'],
    }
  },
  computed: {
    filteredSearch(){
      let result = this.$store.getters.getArticles;
      if(this.search){
        result = result.filter(item =>{
          if(item.name.indexOf(this.search) != -1)
            {
              return item
            }
        })
      }
      if (this.sort){
        result = result.filter(item =>{
          if (item.date == this.sort) {
            return item
          }
        })
      }
      if (this.hover){
        result = result.filter(item =>{
          if (item.date == this.datas) {
            return item
          }
        })
      }
      return result;
    }
    // articles() {
    //   return this.$store.getters.getArticles
    // },
  },
  mounted() {
    this.$store.dispatch('loadArticles')
  },
  methods: {
    reloadComponentForce() {
      this.$forceUpdate();
    },
  },
  updated() {
    console.log('updated');
  },

};
</script>
<style scoped>
.sort{
  margin-top: -12px;
}
.label__title{
  display: flex;
  margin-right: -20px;
}
.label__check{
  margin-right: 20px;
}
.btn-click{
  margin-top: 12px;
  padding: 15px 32px;
}
</style>

