<template>
    <div class="block albumBlock">
        <div class="album_container _container">
            <v-container>
                <div class="novelties__header header">
                    <h1 class="header__title">узнай свой тип кожи.</h1>
                    <router-link to="/help"><img class="header__go" src="@/assets/images/going.svg" alt="go"></router-link>
                </div>
            </v-container>
            <v-img
            src="@/assets/images/album.jpg"
            style="margin-top: 40px;"
            >
            <div class="d-flex fill-height justify-center align-center text-white image_alb">
                <a href="#" class="images__btn__btn">перейти</a>
            </div>
            </v-img>
        </div>
    </div>
</template>