<template>
        <div class="heroBlock">
          <v-carousel     cycle
            height="673"
            hide-delimiter-background
            show-arrows="hover">
            <v-carousel-item
              v-for="(item,i) in items"
              :key="i"
              :src="item.src"
              cover
            >
            <div class="ads-banner__text-wrapper _container">
                <h2 class="ads-banner__heading">skin&lee</h2>
                <p class="ads-banner__description">эксклюзивно только в dream</p>
                <a class="ads-banner__link" href="#">Перейти</a>
            </div>
          </v-carousel-item>
          </v-carousel>
        </div>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            src: 'https://sun9-10.userapi.com/impg/hndvAyoVGlh_GR5za0CHwUfurBCVYg5l5sXgfQ/tEgUgYnCtmQ.jpg?size=1440x673&quality=95&sign=7831c93ffeceba8b3a029b828f66cb2d&type=album',
          },
          {
            src: 'https://sun9-5.userapi.com/impg/8bjVWHLQ7-w6F83ecYDQI3KrtuHuFLGWX19pQA/osDuOENDc0A.jpg?size=1438x562&quality=95&sign=d615800730fc5e0dc1fdc1a634fcb6da&type=album',
          },
          {
            src: 'https://sun9-10.userapi.com/impg/hndvAyoVGlh_GR5za0CHwUfurBCVYg5l5sXgfQ/tEgUgYnCtmQ.jpg?size=1440x673&quality=95&sign=7831c93ffeceba8b3a029b828f66cb2d&type=album',
          },
          {
            src: 'https://sun9-5.userapi.com/impg/8bjVWHLQ7-w6F83ecYDQI3KrtuHuFLGWX19pQA/osDuOENDc0A.jpg?size=1438x562&quality=95&sign=d615800730fc5e0dc1fdc1a634fcb6da&type=album',
          },
          {
            src: 'https://sun9-10.userapi.com/impg/hndvAyoVGlh_GR5za0CHwUfurBCVYg5l5sXgfQ/tEgUgYnCtmQ.jpg?size=1440x673&quality=95&sign=7831c93ffeceba8b3a029b828f66cb2d&type=album',
          },
          {
            src: 'https://sun9-5.userapi.com/impg/8bjVWHLQ7-w6F83ecYDQI3KrtuHuFLGWX19pQA/osDuOENDc0A.jpg?size=1438x562&quality=95&sign=d615800730fc5e0dc1fdc1a634fcb6da&type=album',
          },
        ],
        slides: [
          'First',
          'Second',
          'Third',
          'Fourth',
          'Fifth',
        ],
      }
    },
  }
</script>
