<template>
  <div class="block galleryBlock">
    <v-container>
      <div class="catalog_container _container">
        <nav class="catalog__menu menu">
          <ul class="menu__list">
            <li class="menu__item1">
              <a class="menu__link1" id="menu-activator" color="primary">КАТАЛОГ</a>
                <v-menu activator="#menu-activator">
                  <v-list>
                    <v-list-item
                      v-for="(item, index) in items"
                      :key="index"
                      :value="index"
                    >
                      <v-list-item-title class="menu__link1" ><a href="/catalog" class="menu__link1 black--text" >{{ item.title }}</a></v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
            </li>
            <li class="menu__item1">
              <a href="#photoalbum" class="menu__link1">
                НОВИНКИ
              </a>
            </li>
            <li class="menu__item1">
              <a href="#signUp" class="menu__link1">
                РАСПРОДАЖА
              </a>
            </li>
            <li class="menu__item1">
              <a href="#" class="menu__link1">
                BLACK FRIDAY
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
      { title: 'УХОД ДЛЯ ЛИЦА' },
      { title: 'УХОД ДЛЯ ТЕЛА' },
      { title: 'УХОД ДЛЯ ГЛАЗ' },
      { title: 'СОЛНЕЧНАЯ ЛИНИЯ' },
    ],
    }
  },
}
</script>
