<template>
    <div class="block newsBlock">
        <div class="news_container _container">
            <v-container>
                <div class="novelties__header header">
                    <h1 class="header__title">новости.</h1>
                    <router-link to="/news"><img class="header__go" src="@/assets/images/going.svg" alt="go"></router-link>
                </div>
                <div class="news__wrapper wrapper">
                    <img class="wrapper__img" src="@/assets/images/biber.jpg" alt="album1">
                    <div class="wrapper__texter texter">
                        <div class="texter__title title">
                            <img src="@/assets/images/title.svg" alt="title" class="title__img">
                            <h1 class="title__text">Хэйли Бибер и Rhode.</h1>
                        </div>
                        <div class="texter__txt txt">
                            <p class="txt__text">
                                Новый бренд уходовой косметики известной иконы стиля покоряет мир, тольео она смогла добиться нужной структуры продукта за столько лет
                            </p>
                            <a class="txt__btn" href="#">перейти</a>
                        </div>
                    </div>
                </div>
            </v-container>
        </div>
    </div>
</template>