<template>
    <div class="block noverBlock">
            <div class="novelties_container _container">
                <v-container>
                    <div class="novelties__header header">
                        <h1 class="header__title">новинки.</h1>
                        <router-link to="/catalog"><img class="header__go" src="@/assets/images/going.svg" alt="go"></router-link>
                    </div>
                    <div class="novelties__product product">
                        <div class="product__product-card product-card">
                            <img class="product-card__img" src="@/assets/images/product1.jpg" alt="picture 1">
                            <div class="product-card__title title">
                                <p class="title__biz">крем для рук</p>
                                <img class="title__like" src="@/assets/images/like.svg" alt="like">
                            </div>
                            <div class="product-card__price price">
                                <p class="price__name">SKIN&LEE avocado cream</p>
                                <p class="price__newprice">500 ₽</p>
                            </div>
                            <div class="product-card__btn_bt">
                                <a href="#" class="product-card__btn">в корзину</a>
                            </div>
                        </div>
                        <div class="product__product-card product-card">
                            <img class="product-card__img" src="@/assets/images/product2.jpg" alt="picture 2">
                            <div class="product-card__title title">
                            <p class="title__biz">увлажняющая сыворотка</p>
                            <img class="title__like1" src="@/assets/images/like.svg" alt="like">
                            </div>
                            <div class="product-card__price price">
                                <p class="price__name">BLISS hydration salvation</p>
                                <p class="price__newprice1">640 ₽</p>
                            </div>
                            <div class="product-card__btn_bt">
                                <a href="#" class="product-card__btn">в корзину</a>
                            </div>
                    </div>
                    <div class="product__product-card product-card">
                            <img class="product-card__img" src="@/assets/images/product3.jpg" alt="picture 3">
                            <div class="product-card__title title">
                            <p class="title__biz">маска для лица</p>
                            <img class="title__like2" src="@/assets/images/like.svg" alt="like">
                            </div>
                            <div class="product-card__price price">
                                <p class="price__name">BOWN ALCHEMIST face mask</p>
                                <p class="price__newprice2">500 ₽</p>
                            </div>
                            <div class="product-card__btn_bt">
                                <a href="#" class="product-card__btn">в корзину</a>
                            </div>
                        </div>
                        <div class="product__product-card product-card">
                            <img class="product-card__img" src="@/assets/images/product4.jpg" alt="picture 4">
                            <div class="product-card__title title">
                            <p class="title__biz">успокаивающий крем</p>
                            <img class="title__like3" src="@/assets/images/like.svg" alt="like">
                            </div>
                            <div class="product-card__price price">
                                <p class="price__name">SANDAWHA relax cream</p>
                                <p class="price__newprice3">400 ₽</p>
                            </div>
                            <div class="product-card__btn_bt">
                                <a href="#" class="product-card__btn">в корзину</a>
                            </div>
                        </div>
                    </div>
                </v-container>
            </div>
    </div>
</template>