<template>
  <v-app>
    <v-app-bar
    class="bar"
    app
    color="#FFFFFF"
    >
      <TheHeader/>
    </v-app-bar>
    <v-main>
      <router-view/>
    </v-main>
    <TheFooter/>

  </v-app>
</template>

<script>
import TheHeader from '@/components/components_katem/common/TheHeader.vue';
import TheFooter from '@/components/components_tamir/TheFooter.vue';
export default{
  name: 'App',

  components: {
    TheHeader,
    TheFooter
  },

  data: () => ({
    //
  }),
};
</script>
