@page {
    size: A4;
    margin: 1cm;
}
@media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
      border: none !important;
      background-color: none !important;
      --bs-text-opacity: none !important;
    }
    body > *:not(main) {
        display: none;
    }  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }

    .heroBlock{
        display: none;
    }
}
  
    